@using PagedList;
@using PagedList.Mvc;

@model IPagedList<NotesMarketplace.Models.Members>
@{
    ViewBag.Title = "AllMembers";
    Layout = "~/Views/Shared/AdminNavbar.cshtml";
}

<!-- Member -->
<div class="outerbox">
    <section id="manage-details" class="manage-details-alter">
        <div class="container">
            @using (Html.BeginForm("AllMembers", "AllMembers", FormMethod.Get))
            {
                <div class="row top-table">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <h3>Members</h3>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="row justify-content-end extra-margin1">
                            <div class="wrapper">
                                <img src="~/Img/Admin/Dashboard/search.jpg" class="searchimage doup">
                                <input type="text" class="form-control search-bar classinput" placeholder="Search" name="search">
                            </div>
                            <div class="btn-merge">
                                <button type="submit" class="btn text-uppercase text-center" id="idbtn"><b>Search</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="grid-table table-responsive-xl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="align-middle text-center">SR NO.</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("FIRST NAME", "AllMembers", new { sortby = ViewBag.SortFirstName, search = Request.QueryString["search"] })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("LAST NAME", "AllMembers", new { sortby = ViewBag.SortLastName, search = Request.QueryString["search"] })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("EMAIL", "AllMembers", new { sortby = ViewBag.SortEmail, search = Request.QueryString["search"] })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("JOINING DATE", "AllMembers", new { sortby = ViewBag.SortDate, search = Request.QueryString["search"] })</th>
                                    <th scope="col" class="align-middle">UNDER REVIEW<br>NOTES</th>
                                    <th scope="col" class="align-middle">PUBLSIHED<br>NOTES</th>
                                    <th scope="col" class="align-middle">DOWNLOADED<br>NOTES</th>
                                    <th scope="col" class="align-middle">TOTAL<br>EXPENSE</th>
                                    <th scope="col" class="align-middle">TOTAL<br>EARNING</th>

                                    <th scope="col" class="align-middle"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="11" class="text-center">No record found</td>
                                    </tr>
                                }
                                @{ int c = 0; }
                                @foreach (var item in Model)
                                {
                                    c += 1;
                                    <tr>
                                        <td class="align-middle text-center">@c</td>
                                        <td class="align-middle">@item.FirstName</td>
                                        <td class="align-middle">@item.LastName</td>
                                        <td class="align-middle">@item.Email</td>
                                        @if(item.JoiningDate.HasValue )
                                        { 
                                            <td class="align-middle">@item.JoiningDate.Value.ToShortDateString()</td>
                                        }
                                        else
                                        { 
                                            <td class="align-middle"></td>
                                        }
                                        
                                        <td class="align-middle getpurple"><a href="@Url.Action("NotesUnderReview","NotesUnderReview", new { Seller = item.FirstName + " " + item.LastName })" style="color:#6255a5;">@item.UnderReviewNotes</a></td>
                                        <td class="align-middle getpurple"><a href="@Url.Action("PublishedNotes","PublishedNotes", new { Seller = item.FirstName + " " + item.LastName })" style="color:#6255a5;">@item.PublishedNotes</a></td>
                                        <td class="align-middle getpurple"><a href="@Url.Action("DownloadedNotes","DownloadedNotes", new { Buyer = item.FirstName + " " + item.LastName })" style="color:#6255a5;">@item.DownloadedNotes</a></td>
                                        <td class="align-middle getpurple"><a href="@Url.Action("DownloadedNotes","DownloadedNotes", new { Buyer = item.FirstName + " " + item.LastName })" style="color:#6255a5;">₹ @item.TotalExpenses</a></td>
                                        <td class="align-middle getpurple">₹ @item.TotalEarnings</td>
                                        <td class="align-middle">
                                            <div class="dropdown">
                                                <a type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="~/Img/Admin/images/dots.png">
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="@Url.Action("MemberDetails","MemberDetails", new { uid = item.UserID })">View More Detail</a>
                                                    @if (item.IsActive)
                                                    {
                                                        <a class="dropdown-item" href="@Url.Action("Deactivate", "AllMembers", new { uid = item.UserID })">Activate</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="dropdown-item" href="@Url.Action("Activate", "AllMembers", new { uid = item.UserID })">Deactivate</a>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

