@using PagedList;
@using PagedList.Mvc;

@model IPagedList<NotesMarketplace.SpamTable>

@{
    ViewBag.Title = "SpamReports";
    Layout = "~/Views/Shared/AdminNavbar.cshtml";
}

<!-- Spam Report -->
<section id="manage-details" class="manage-details-alter">
    <div class="container">
        <div class="row top-table">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <h3>Spam Report</h3>
            </div>
            @using (Html.BeginForm("SpamReports", "SpamReports", FormMethod.Get))
            {
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="row justify-content-end">
                        <div class="wrapper">
                            <img src="~/Img/Admin/Dashboard/search.jpg" class="searchimage doup">
                            <input type="text" class="form-control search-bar classinput" placeholder="Search">
                        </div>
                        <div class="btn-merge">
                            <button type="submit" class="btn text-uppercase text-center" id="idbtn"><b>Search</b></button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="grid-table table-responsive-xl">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle text-center">SR NO.</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("REPORTED BY", "SpamReports", new { sortby = ViewBag.SortReportedBy, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("NOTE TITLE", "SpamReports", new { sortby = ViewBag.SortTitle, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("CATEGORY", "SpamReports", new { sortby = ViewBag.SortCategory, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("DATE EDITED", "SpamReports", new { sortby = ViewBag.SortDate, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">REMARK</th>
                                <th scope="col" class="align-middle">ACTION</th>
                                <th scope="col" class="align-middle"></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="7" class="text-center">No record found</td>
                                </tr>
                            }
                            @{ int c = 0; }
                            @foreach (var item in Model)
                            {
                                c += 1;
                                <tr>
                                    <td class="align-middle">@c</td>
                                    <td class="align-middle">abc</td>
                                    <td class="align-middle getpurple"><a href="@Url.Action("AdminNoteDetails","Admin", new { nid = item.ID })">@item.SellerNotes.Title</a></td>
                                    <td class="align-middle">@item.SellerNotes.NoteCategories.Name</td>
                                    <td class="align-middle">@item.CreatedDate</td>
                                    <td class="align-middle">@item.Comments</td>
                                    <td class="align-middle"><a><img src="~/Img/Admin/images/delete.png"></a></td>
                                    <td class="align-middle">
                                        <div class="dropdown">
                                            <a type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="~/Img/Admin/images/dots.png">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="@Url.Action("DownloadForAdmin","NotesUnderReview", new { nid = item.NoteID })">Download Notes</a>
                                                <a class="dropdown-item" href="@Url.Action("AdminNoteDetails","Admin", new { nid = item.NoteID })">View More Detail</a>

                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                         </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pagination -->
<nav>
    <div class="container">
        <div class="row justify-content-center">


            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("SpamReports", new { page, search = Request.QueryString["search"], sortby = Request.QueryString["sortby"] }))
            </ul>
        </div>
    </div>
</nav>
<!-- Pagination ends -->
