@using PagedList;
@using PagedList.Mvc;

@model IPagedList<NotesMarketplace.Models.ManageType>
@{
    ViewBag.Title = "ManageTypes";
    Layout = "~/Views/Shared/AdminNavbar.cshtml";
}


<!-- Manage Type -->
<section id="manage-details" class="manage-details-alter">
    <div class="container">
        <div class="row top-table">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Manage Type</h3>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">

                <button type="submit" class="btn text-uppercase text-center addbutton" id="" onclick="location.href='@Url.Action("AddType","ManageTypes")'"><b>Add Type</b></button>

            </div>
            @using (Html.BeginForm("ManageTypes", "ManageTypes", FormMethod.Get))
            {
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="row justify-content-end">
                        <div class="wrapper">
                            <img src="~/Img/Admin/Dashboard/search.jpg" class="searchimage doup">
                            <input type="email" class="form-control search-bar classinput" placeholder="Search">
                        </div>
                        <div class="btn-merge">
                            <button type="submit" class="btn text-uppercase text-center" id="idbtn"><b>Search</b></button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="grid-table table-responsive-xl">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle text-center">SR NO.</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("TYPE", "ManageTypes", new { sortby = ViewBag.SortType, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("DESCRIPTION", "ManageTypes", new { sortby = ViewBag.SortDescription, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("DATE ADDED", "ManageTypes", new { sortby = ViewBag.SortDate, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("ADDED BY", "ManageTypes", new { sortby = ViewBag.SortAddedBy, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">ACTIVE</th>
                                <th scope="col" class="align-middle">ACTION</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="7" class="text-center">No record found</td>
                                </tr>
                            }
                            @{ int c = 0; }
                            @foreach (var item in Model)
                            {
                                c += 1;
                                <tr>
                                    <td class="align-middle text-center">@c</td>
                                    <td class="align-middle">@item.TypeName</td>
                                    <td class="align-middle">@item.Description</td>
                                    <td class="align-middle">@item.CreatedDate</td>
                                    <td class="align-middle">@item.AddedBy</td>
                                    @if (item.IsActive)
                                    {
                                        <td class="align-middle">Yes</td>
                                        <td class="align-middle">
                                            <a href="@Url.Action("EditType","ManageTypes", new { TypeID = item.TypeID })"><img src="~/Img/Admin/images/edit.png"></a> <a href="@Url.Action("UpdateTypeStatus","ManageTypes", new { TypeID = item.TypeID, status = 0 })"><img src="~/Img/Admin/images/delete.png" class="leftmar"></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="align-middle">No</td>
                                        <td class="align-middle">
                                            <a href="@Url.Action("EditType","ManageTypes", new { TypeID = item.TypeID })"><img src="~/Img/Admin/images/edit.png"></a> <a href="@Url.Action("UpdateTypeStatus","ManageTypes", new { TypeID = item.TypeID, status = 1 })"><img src="~/Img/Admin/images/delete.png" class="leftmar"></a>
                                        </td>
                                    }


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pagination -->
<nav>
    <div class="container">
        <div class="row justify-content-center">


            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("ManageTypes", new { page, search = Request.QueryString["search"], sortby = Request.QueryString["sortby"] }))
            </ul>
        </div>
    </div>
</nav>
<!-- Pagination Ends-->
