@model NotesMarketplace.Models.AddNotes

@{
    ViewBag.Title = "AddNotes";
    Layout = "~/Views/Shared/NavbarAfter.cshtml";
}

@{
    <style>
        .form-error {
            color: red;
        }
    </style>
}

<!-- Basic Detail -->
<section>
    <div id="background-img-text">
        <div class="centerh2">

            <h2>Add Notes</h2>

        </div>
    </div>
</section>

<!-- <form class="add-notes-form">  -->
@using (Html.BeginForm("AddNotes", "AddNotes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <!-- First Section -->
    <section id="personal-details" class="user-profile content-box-md">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Basic Note Details</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- First Name -->
                                <div class="form-group">
                                    @Html.HiddenFor(x => x.ID)
                                    <label class="classlable">Title *</label>

                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control classinput", @placeholder = "Enter your Notes title" })
                                    <!-- <input type="text" class="form-control classinput" placeholder="Enter your Notes title"> -->
                                    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "form-error" })
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!-- Last Name -->
                                <div class="form-group">
                                    <label class="classlable" for="classinput">Category *</label>
                                    <div class="wrapper">
                                        <!-- <select class="form-control inputselect">
                                            <option>Select Your category</option>
                                        </select> -->
                                        
                                        @Html.DropDownListFor(x => x.CategoryID, new SelectList(ViewBag.Category, "Value", "Text"), "Select Your Category", new { @class = "form-control inputselect" })
                                        
                                    </div>
                                    @Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "form-error" })
                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- Email -->
                                <div class="form-group">
                                    <div class="upload-profile-pic">
                                        <label class="classlable" for="classinput">Display Picture </label>

                                        <div class="wrapper-image">
                                            @Html.TextBoxFor(x => x.DisplayPicture, new { @class = "form-control classinput", type = "file", accept = ".jpg , .jpeg , .png" })

                                            <!-- <input type="file" class="form-control classinput" aria-describedby="emailHelp"> -->
                                            <div class="uploadmypic text-center">
                                                <img class="img-fluid" src="~/Img/Front/user-profile/upload.png">
                                                <h6>Upload a picture</h6>
                                            </div>
                                        </div>

                                    </div>
                                    @Html.ValidationMessageFor(x => x.DisplayPicture, "", new { @class = "form-error" })
                                </div>
                                
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <!-- DOB -->
                                <div class="form-group">
                                    <div class="upload-profile-pic">
                                        <label class="classlable" for="classinput">Upload Notes *</label>

                                        <div class="wrapper-image">
                                            @Html.TextBoxFor(x => x.File, new { @class = "form-control classinput", type = "file", required = "required", accept = ".pdf", multiple = "multiple" })

                                            <!-- <input type="file" class="form-control classinput" aria-describedby="emailHelp"> -->
                                            <div class="uploadmypic text-center">
                                                <img class="img-fluid" src="~/Img/Front/user-profile/upload.png">
                                                <h6>Upload Your Notes</h6>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(x => x.File, "", new { @class = "form-error" })
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <!-- Gender -->
                                <div class="form-group">
                                    <label class="classlable">Type</label>
                                    <!-- Drop down arrow icon -->
                                    <div class="wrapper">
                                        <!-- <select class="form-control inputselect">
                                            <option>Select Your mode type</option>
                                            <option>Type 1</option>
                                            <option>Type 2</option>
                                            <option>Type 3</option>
                                        </select> -->

                                        @Html.DropDownListFor(x => x.TypeID, new SelectList(ViewBag.Type, "Value", "Text"), "Select your category",new { @class = "form-control inputselect" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">

                                <!-- Phone Number -->
                                <div class="form-group">
                                    <label class="classlable">Number of Pages</label>
                                    @Html.ValidationMessageFor(x => x.NumberOfPages, "", new { @class = "form-error" })
                                    @Html.TextBoxFor(x => x.NumberOfPages, new { @class = "form-control classinput", @placeholder = "Enter number of note pages" })
                                    <!-- <input type="email" class="form-control classinput" placeholder="Enter number of note pages"> -->
                                </div>
                            </div>
                        </div>

                        <!-- Upload a Picture -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="textarea-input">
                                        <label class="classlable" for="classinput">Description *</label>

                                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control classinput", @placeholder = "Enter your description " })
                                        <!-- <textarea placeholder="Enter your description " class="form-control classinput"></textarea> -->
                                        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "form-error" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Basic Detail Ends-->
    <!-- Instututional Detail -->
    <section id="study-details" class="user-profile content-box-md">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Institution Information</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- University -->
                                <div class="form-group">
                                    <label class="classlable">Country</label>
                                    <div class="wrapper">
                                        <!-- <select class="form-control inputselect">
                                            <option>Select your country</option>
                                        </select> -->
                                        @Html.DropDownListFor(x => x.CountryID, new SelectList(ViewBag.Country, "Value", "Text"),"Select Your Country", new { @class = "form-control inputselect" })

                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!-- College -->
                                <div class="form-group">
                                    <label class="classlable" for="classinput">Institution Name</label>
                                    <!-- <input type="text" class="form-control classinput" aria-describedby="emailHelp" placeholder="Enter your institution name"> -->
                                    @Html.TextBoxFor(x => x.InstituteName, new { @class = "form-control classinput", @placeholder = "Enter your institution name" })
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Instututional Detail Ends-->
    <!-- Course Detail -->
    <section id="Address-details" class="user-profile content-box-md">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Course Details</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- Address Line 1 -->
                                <div class="form-group">
                                    <label class="classlable">Course Name</label>
                                    <!-- <input type="text" class="form-control classinput" placeholder="Enter your course name"> -->
                                    @Html.TextBoxFor(x=>x.CourseName, new { @class = "form-control classinput", @placeholder = "Enter your course name"})
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!-- Address Line 2 -->
                                <div class="form-group">
                                    <label class="classlable" for="classinput">Course Code</label>
                                    <!-- <input type="text" class="form-control classinput" aria-describedby="emailHelp" placeholder="Enter your course code"> -->
                                    @Html.TextBoxFor(x=>x.CourseCode, new { @class = "form-control classinput", @placeholder = "Enter your course code" })
                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- City -->
                                <div class="form-group">
                                    <label class="classlable" for="classinput">Professor / Lecturer</label>
                                    <!-- <input type="email" class="form-control classinput" aria-describedby="emailHelp" placeholder="Enter your professor name"> -->
                                    @Html.TextBoxFor(x=>x.Professor, new { @class = "form-control classinput", @placeholder = "Enter your professor name" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Course Detail -->
    <!-- Selling type Detail -->
    <section id="sell-details" class="user-profile content-box-md">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Selling Information</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- University -->
                        <div class="form-group">
                            <label class="classlable">Sell For </label>
                            <div class="row giveinnerpadding">
                                <div class="col-md-4 col-sm-5 col-4">
                                    <div class="row">

                                        <input name="sell" type="radio" class="form-control classinput"> 
                                       

                                        <label class="classlable">Free</label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-5 col-6">
                                    <div class="row">

                                        <input name="sell" type="radio" class="form-control classinput">


                                        <label class="classlable">Paid</label>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="classlable" for="classinput">Sell Price </label>
                            
                            <!-- <input type="text" class="form-control classinput" aria-describedby="emailHelp" placeholder="Enter your institution name"> -->
                            @Html.TextBoxFor(x => x.Price, new { @class = "form-control classinput", @placeholder = "Enter your price" })
                            @Html.ValidationMessageFor(x => x.Price, "", new { @class = "form-error" })
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <div class="upload-profile-pic">
                                <label class="classlable" for="classinput">Notes Preview</label>

                                <div class="wrapper-image">
                                    <!-- <input type="file" class="form-control classinput" aria-describedby="emailHelp"> -->
                                    @Html.TextBoxFor(x=>x.PreviewAttachment, new { @class = "form-control classinput", type = "file", required = "required", accept = ".pdf", multiple = "multiple" })
                                    <div class="uploadmypic text-center">
                                        <img class="img-fluid" src="~/Img/Front/user-profile/upload.png">
                                        <h6>Upload a file</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Login Button -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6">
                        <button type="submit" class="btn btn-primary btn-block login-btn text-uppercase text-center" id="idbtn" value="1" name="submitButton"><b>submit</b></button>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <button type="submit" class="btn btn-primary btn-block login-btn text-uppercase text-center" id="idbtn" value="2" name="submitButton"><b>Publish</b></button>
                    </div>
                </div>
            </div>
        </div>

    </section>
<!-- </form> -->
}

