@using PagedList;
@using PagedList.Mvc;

@model IPagedList<NotesMarketplace.Models.BuyerRequest>

@{
    ViewBag.Title = "BuyerRequest";
    Layout = "~/Views/Shared/NavbarAfter.cshtml";
}

<!-- Buyer Request -->
<section id="table-details-section" class="table-margin">
    <div class="container">
        @using (Html.BeginForm("BuyerRequest", "BuyerRequest", FormMethod.Get))
        {
            <div class="row top-table">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <h3 class="col-left">Buyer Requests</h3>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 extra-margin">
                    <div class="row justify-content-end">
                        <div class="wrapper">
                            <img src="~/Img/Front/Dashboard/search.jpg" class="searchimage doup">
                            <input type="text" class="form-control search-bar classinput" placeholder="Search" name="search">
                        </div>
                        <div class="btn-merge">
                            <button type="submit" class="btn text-uppercase text-center" id="idbtn"><b>Search</b></button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="grid-table table-responsive-xl">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle text-center">SR NO.</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("NOTE TITLE", "BuyerRequest", new { sortby = ViewBag.SortTitle, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("CATEGORY", "BuyerRequest", new { sortby = ViewBag.SortCategort, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">BUYER</th>
                                <th scope="col" class="align-middle">PHONE NO.</th>
                                <th scope="col" class="align-middle">SELL TYPE</th>
                                <th scope="col" class="align-middle">PRICE</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("DOWNLOADED DATE/TIME", "BuyerRequest", new { sortby = ViewBag.SortDate, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle"></th>
                                <th scope="col" class="align-middle"></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="10" class="text-center">No record found</td>
                                </tr>
                            }
                            @{ int c = 0; }
                            @foreach (var item in Model)
                            {
                                c += 1;
                                <tr>
                                    <td class="align-middle text-center">@c</td>
                                    <td class="align-middle getpurple">@item.Title</td>
                                    <td class="align-middle">@item.Category</td>
                                    <td class="align-middle">@item.BuyerEmail</td>
                                    <td class="align-middle">@item.BuyerContact</td>
                                    @if(item.IsPaid)
                                    {
                                        <td class="align-middle">Paid</td>
                                    }
                                    else
                                    {
                                        <td class="align-middle">Paid</td>
                                    }
                                    <td class="align-middle">₹ @item.Price</td>
                                    <td class="align-middle">@item.DownloadedDate</td>
                                    <td class="align-middle">
                                        <a href="@Url.Action("NoteDetails","NoteDetails", new { nid = item.NID })"><img src="~/Img/Front/Dashboard/eye.png" alt="view"></a>
                                    </td>
                                    <td class="align-middle">
                                        <div class="dropdown">
                                            <a type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                                <i class="fas fa-ellipsis-v  dowhite"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="@Url.Action("AllowDownload","BuyerRequest", new { tid = item.TID })">Allow Download</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>