@model NotesMarketplace.Models.ChangePassword

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <!-- Title -->
    <title>Change Password</title>

    <!-- Icon -->
    <link rel="Icon" href="img/favicon/favicon.ico">

    <!-- Open Sans Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/Front/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">

    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css">

    <style>
        .form-error {
            color: red;
        }
    </style>

</head>

<body class="fullsize">

    <!-- Change Password Page -->
    <section id="background-image">
        <div id="changepass-page" class="container">

            <!-- Logo -->
            <div class="row justify-content-center">
                <div id="logo" class="text-center col-md-6 col-12 col-sm-12">

                    <img src="~/Img/Front/pre-login/top-logo.png" class="img-fluid" alt="Loin">
                </div>
            </div>



            <div class="row justify-content-center">

                <div class="col-12 col-md-12 col-sm-11 col-lg-9 col-xl-8">
                    <div id="changepass-form">

                        <!-- Heading -->
                        <div id="changepassword-head" class="text-center">
                            <h2>Change Password</h2>
                            <p>Enter your new password to change your password</p>
                        </div>

                        <!-- Form -->
                        <!-- <form> -->
                        @using (Html.BeginForm("ChangePassword", "SignUp", FormMethod.Post))
                        {

                            <!-- Password 1-->
                            <div class="form-group">
                                <label class="classlable">Old Password</label>
                                <div class="wrapper">
                                    <!-- <input type="password" class="form-control InputPassword1" placeholder="Enter your old password" id="changepass-old"> -->
                                    @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "form-error" })
                                    @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control InputPassword1", @id = "changepass-old", @placeholder = "Enter Your Old Password" })
                                    <span toggle="#changepass-old" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                            </div>

                            <!-- Password 2-->
                            <div class="form-group">
                                <label class="classlable">New Password</label>
                                <div class="wrapper">
                                    <!-- <input type="password" class="form-control InputPassword1" placeholder="Enter your new password" id="changepass-new1"> -->
                                    @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "form-error" })
                                    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control InputPassword1", @id = "changepass-new1", @placeholder = "Enter Your New Password" })
                                    <span toggle="#changepass-new1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                            </div>

                            <!-- Password 3-->
                            <div class="form-group">
                                <label class="classlable">Confirm Password</label>
                                <div class="wrapper">
                                    <!-- <input type="password" class="form-control InputPassword1" placeholder="Enter your confirm password" id="changepass-new2"> -->
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "form-error" })
                                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control InputPassword1", @id = "changepass-new2", @placeholder = "Enter Your Confirm Password" })
                                    <span toggle="#changepass-new2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                            </div>

                            <!-- LOGIN Button -->
                            <button type="submit" class="btn text-uppercase text-center" id="idbtn"><b>Submit</b></button>
                            <!-- </form> -->

                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Change Password Page End -->
    <!-- JQuery -->
    <script src="~/Script/Front/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Script/Front/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Script/Front/script.js"></script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
