@using PagedList;
@using PagedList.Mvc;

@model IPagedList<NotesMarketplace.Models.AdminDashboard>
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/AdminNavbar.cshtml";
}

<!-- Dashboard Upper -->
<section id="dashboard-upper">

    <div class="container">

        <!-- dashboard heading & add note button -->
        <div class="row dashboard-upper-title">

            <!-- Title -->
            <div class="col-md-6 col-sm-12 col-12">
                <div class="dashboard-large-heading">
                    <h2>Dashboard</h2>
                </div>
            </div>

            <!-- button -->
            <div class="col-md-6 col-sm-12 col-12 text-right">
                <!-- Profile Button -->
                <button type="button" id="idbtn" class="btn text-uppercase text-center" onclick="location.href = '@Url.Action("AddNotes","AddNotes")'"><b>Add Notes</b></button>
            </div>

        </div>

        <!-- Dashboard content -->
        <div class="dashboard-content">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row note-info">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">


                            <!-- Number of notes sell -->
                            <div class="right-dash text-center">
                                <h4>
                                    <b>
                                        <a href="@Url.Action("NotesUnderReview","NotesUnderReview")" style="text-decoration:none;">@ViewBag.InReview</a>
                                    </b>
                                </h4>
                                <p>
                                    Number of Notes in Review for Publish<br>
                                </p>
                            </div>


                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">

                            <!-- Number of notes sell -->
                            <div class="right-dash text-center">
                                <h4>
                                    <b>
                                        <a href="@Url.Action("DownloadedNotes","DownloadedNotes")" style="text-decoration:none;">@ViewBag.NotesDownloaded</a>
                                    </b>
                                </h4>
                                <p>Number of New Downloaded<br>(Last 7 days)</p>

                            </div>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">

                            <!-- Number of notes sell -->
                            <div class="right-dash text-center">
                                <h4>
                                    <b>
                                        <a href="@Url.Action("AllMembers","AllMembers")" style="text-decoration:none;">@ViewBag.NewRegistrations</a>
                                    </b>
                                </h4>
                                <p>Number of New Registration<br>(Last 7 days)</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>
<!-- Dashboard Upper ends-->
<!-- Dashboard Publish -->
<section id="manage-details">
    <div class="container">
        @using (Html.BeginForm("AdminDashboard", "Admin", FormMethod.Get))
        {
            <div class="row top-table">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <h3>Published Notes</h3>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="row justify-content-end select-input-margin">
                        <div class="wrapper">
                            <img src="~/Img/Admin/Dashboard/search.jpg" class="searchimage doup">
                            <input type="text" class="form-control search-bar classinput" placeholder="Search" name="search">
                        </div>
                        <div class="btn-merge">
                            <button type="submit" class="btn text-uppercase text-center" id="idbtn"><b>Search</b></button>

                        </div>
                        <div>
                            @Html.DropDownList("Month", ViewBag.Month as SelectList, "Select Month", new { @class = "form-control inputselect seller-dd select-margin", onchange = "this.form.submit();" })
                            <!--<select class="form-control inputselect seller-dd select-margin">

                                <option>Select Month</option>
                                <option>Type 1</option>
                                <option>Type 2</option>
                                <option>Type 3</option>
                            </select>-->
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="grid-table table-responsive-xl">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle text-center">SR NO.</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("TITLE", "AdminDashboard", new { sortby = ViewBag.SortTitle, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("CATEGORY", "AdminDashboard", new { sortby = ViewBag.SortCategort, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">ATTACHMENT SIZE</th>
                                <th scope="col" class="align-middle">SELL TYPE</th>
                                <th scope="col" class="align-middle">PRICE</th>
                                <th scope="col" class="align-middle">PUBLISHER</th>
                                <th scope="col" class="align-middle">@Html.ActionLink("PUBLISHED DATE", "AdminDashboard", new { sortby = ViewBag.SortDate, search = Request.QueryString["search"] })</th>
                                <th scope="col" class="align-middle">NUMBER OF<br>DOWNLOAD</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="10" class="text-center">No record found</td>
                                </tr>
                            }
                            @{ int c = 0; }
                            @foreach (var item in Model)
                            {
                                c += 1;
                                <tr>
                                    <td class="align-middle text-center">@c</td>
                                    <td class="align-middle"><a class="getpurple" href="#">@item.Title</a></td>
                                    <td class="align-middle">@item.Category</td>
                                    <td class="align-middle text-center">@item.FileSize</td>
                                    <td class="align-middle text-center">@item.SellType</td>
                                    <td class="align-middle text-center">₹ @item.Price</td>
                                    <td class="align-middle text-center">@item.Publisher</td>
                                    <td class="align-middle text-center">@item.PublishedDate</td>
                                    <td class="align-middle text-center"><a class="getpurple" href="#">@item.TotalDownloads</a></td>
                                    <td class="align-middle">
                                        <div class="row text-center">
                                            <div class="dropdown">
                                                <a type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="~/Img/Admin/images/dots.png">
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="@Url.Action("DownloadForAdmin", "NotesUnderReview", new { nid = item.ID })">Download Notes</a>
                                                    <a class="dropdown-item" href="@Url.Action("AdminNoteDetails", "Admin", new { nid = item.ID })">View More Detail</a>

                                                    <a class="dropdown-item" onclick="Unpublish_Popup(@item.ID,'@item.Title')">Unpublish</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<nav>
    <div class="container">
        <div class="row justify-content-center">
            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("AdminDashboard", new { page, search = Request.QueryString["search"], sortby = Request.QueryString["sortby"], Seller = Request.QueryString["Seller"] }))
            </ul>
        </div>
    </div>
</nav>

<!-- Unpublish Popup -->

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="unpublish-popup-container">

            <div class="row">

                <div class="col">

                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>

                </div>

            </div>

            <div class="row">

                <div class="col">

                    @using (Html.BeginForm("Unpublish", "PublishedNotes", new { ReturnUrl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Path) }, FormMethod.Post))
                    {
                        <input type="hidden" id="myField-Note-ID" name="nid" />
                        <input type="hidden" name="Status" value="5" />
                        <h2 id="myField-Note-Title">
                        </h2>
                        <br>

                        <div class="form-group">
                            <label for="comments" class="label-text">Remarks</label>
                            <input type="text" class="form-control user-profile-input-field" id="unpublish-comments" placeholder="Write Remarks" name="Remarks" maxlength="200">
                        </div>

                        <button style="float:right;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button style="float:right; margin-right: 5px;" class="btn btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to Unpublish this note?');">Unpublish</button>

                    }

                </div>

            </div>


        </div>
    </div>
</div>

<!-- Unpublish Popup End-->

<script>

    var Unpublish_Popup = function (nid, title) {

        document.getElementById('myField-Note-ID').value = nid;
        document.getElementById('myField-Note-Title').innerHTML = title;
        $("#exampleModal2").modal("show");

    }

</script>
